<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47896641082-lpf54t9257stb8kqmms90u33gjqsu2i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47896641082-lpf54t9257stb8kqmms90u33gjqsu2i1</string>
	<key>API_KEY</key>
	<string>AIzaSyDGmWfhP18yf5C5pDS2M6Ur2WQ3J-WbnoY</string>
	<key>GCM_SENDER_ID</key>
	<string>47896641082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ongraph.com.Himanshu-Chat-App</string>
	<key>PROJECT_ID</key>
	<string>himanshuchatapp-ed522</string>
	<key>STORAGE_BUCKET</key>
	<string>himanshuchatapp-ed522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47896641082:ios:a69bfe6b073c1c2c5b3f03</string>
</dict>
</plist>